@import "variables.scss";

.tab-container {
    min-width: 1000px;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 0.01rem lightgray;
    padding: 3rem;

    box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
}

.setting-gears {
    position: absolute;
    font-size: 24px;
    top: 565px;
    right: 15px;
    
    transition: all 500ms;
    &:hover {
        font-size: 26px;
        transform: rotateZ(180deg);
        cursor: pointer;
        color: red;
    }
    
    &.active {
        font-size: 26px;
        color: red;
        transform: rotateZ(180deg);
        
        &:hover {
            font-size: 24px;
            transform: rotateZ(-180deg);
            color: black;

        }
    }
}