@import "variables.scss";

.tab-container {
    min-width: 1000px;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 0.01rem lightgray;
    padding: 3rem;

    box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
}